
* {  
  margin: 0; padding: 0; 
  box-sizing: border-box; 
  
}
:root{
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-size:16px;
  background-color: rgba(10, 25, 37, 0.719);
  width:100%;
}
body{
  background-color: aliceblue;
  padding: 90px 20px 0;
  

}
header{
 background-color: rgba(0, 0, 0, 0.904);
 height: 80px;
 position: fixed;
 width: 100%;
 top: 0;
 left: 0;
 
}


/*MENÚ DE NAVEGACION*/
.menunav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 992px;
  margin: 0 auto;
}
.lista{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.logo{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-right:13rem ;
}
.lista-menu{
  color: aliceblue;
  font-size: 16px;
  margin: 0 0px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.link-nav{
  padding: 8px 12px;
  border-radius: 2em;
  
}
.link-nav:visited{
  color: rgba(240, 248, 255, 0.644);
  text-decoration: aliceblue;
}
.link-nav:hover{
  background-color: #55abe9cc;
  transition: 0.5s;

}
.bt-menu{
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}
.botones{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left:  10px; 
}

/*INDEX*/

div#texto {

  position:static;
}
div#texto h3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 28px;
  position: relative;
  top: 15rem;
  left: 10rem;
  color: white;
  font-size: 2.5rem;
  font-style: oblique;
}
div#texto img {
  width: 100%;
  height: 350px;
}
#estaciones{
  display: flex;
  flex-wrap: wrap;
}
h3#em{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.meteo {
  border: rgba(245, 245, 220, 0.747);
  margin: 20px auto;
  padding: 0 auto;
}
h3.link-mt{
  background-color: rgba(245, 245, 220, 0.637);
  background-position: center;
  padding: 15px;
  text-decoration: none;
  width: 300px;
}
.link-mt > a{
color: rgb(14, 65, 175);
text-decoration :underline rgb(153, 196, 226);
}
article{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
article section#tiempo{
  display: inline;
  margin: 0 auto;

}
article section#windy {
  display: inline;
  margin: 0 auto;
}
a#webcam {
  display: flex;
  justify-content: flex-start;
  
}
#webcam {
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section#webcam img {
  height: 210px;
  width: 360px;
  display: flex;
  flex-direction: column;
}
section#webcam p {
  
  background-color: rgba(65, 127, 241, 0.795);
  color: aliceblue;
  width: 50px;
  margin: 0 auto ;
  padding: 0 auto;
  text-align: center;
  font-family: 'Amasis MT', bold;
}
section#webcam p:hover {
  transform:translateX(10px) scale3d(2.0, 2.1, 0.8) translateY(5px);
}
section#webcam p#p1 {
  position: absolute;
}
section#webcam p#p2 {
  position: absolute;
  left: 25%;
}
section#webcam p#p3 {
  position: absolute;
  left: 50%;
}
section#webcam p#p4 {
  position: absolute;
  left: 75%;
}
/*SECCIÓN DE IMAGENES*/

.galeria h1{
  text-align: center;
  margin:20px 0 15px 0;
  font-weight: 300;
}

.linea{
  border-top: 5px solid #0077C0;
  margin-bottom: 40px;
}

.contenedor-imagenes{
  display:flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius:3px;

  
}

.contenedor-imagenes .imagen{
  
  width: 32%;
  height:250px;
  margin-bottom:5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
  /*transform-style: preserve-3d;
  transition: transform 1.5s;*/
}
.imagen:hover{
  transform: matrix3d(1,0,0,0,0,1,6,0,0,0,1,0,10,20,0,1.1);
}
.imagen img{
  width: 100%;
  height:100%;
  object-fit: cover;

}


/*CLUB*/
h1{
  text-align: center;
  margin:20px 0 15px 0;
  font-weight: 300;
}

.linea{
  border-top: 5px solid #0077C0;
  margin-bottom: 40px;
}
section#fclub{
  display: flex;
  margin: 0 2% 2% 0;
  padding: 0 auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #8cc0d4;
  -webkit-box-shadow: 0px 0px 15px 15px #d6ecee;

}
#preg{
  display: flex;  
  flex-direction: column;
  flex-wrap: wrap;

}

.listacp,#lipref{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
#preg > ul.listacp > li{
  margin: 15px;
  padding: 0 auto;
  list-style: none;
}
#lipref a:visited, a:link, a:focus {
  color:   rgb(134, 191, 238); 
  text-decoration: none;

}
#lipref a:hover{
  background-attachment: fixed;
  background-color: beige;
  color: black;
  text-decoration: underline;

}
#infoclub{
  display: flex;
  margin: 0 9rem 2rem 9rem;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#liclub {
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin:10px;
}
#liclub .listacl{
  margin-left:inherit ;
}
#infoclub > p::first-letter{
  font-size:35px;
  font-weight: bold;
}
#lema{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
}
#rnav{
  display: flex;
  flex-direction: column;
  justify-items:flex-start ;
  margin: 0 10rem 25rem 0;
  flex-wrap: wrap;
}
/*CONTACTO*/
#form1{
  display:flex;
  flex-grow: initial;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color:rgb(126, 187, 223);
  border-radius: 5px;
}
#contacto{
  display:flex;
  flex-grow: initial;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  background-color:rgb(126, 187, 223);
  border-radius: 5px;
  
}
#contacto a{
  color: black;
  text-decoration: underline;
}
#contacto a:hover{
  background-color: rgba(245, 245, 220, 0.603);  
}
form label{
width:72px;
font-weight:bold;
display:inline-block;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="tel"]{
width:180px;
padding:3px 10px;
border:1px solid #f6f6f6;
border-radius:3px;
background-color:#f6f6f6;
margin:8px 0;
display:inline-block;
}

form input[type="submit"]{
width:100%;
padding:8px 16px;
margin-top:32px;
border:1px solid #000;
border-radius:5px;
display:block;
color:#fff;
background-color:#000;
} 

form input[type="submit"]:hover{
cursor:pointer;
}
#mapadireccion{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
h1.visita{
  font-size: 22px;
  margin: 10px;
}
/*NOTICIAS Y EVENTOS*/

.contenedor-noticias{
  display:flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius:3px;
}

.contenedor-noticias .noticias{
  width: 32%;
  height:250px;
  margin-bottom:5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
  /*position: relative;*/
}
.noticias img{
  width: 100%;
  height:90%;
  object-fit: cover;
}



.noticias h2{
  color: rgb(8, 8, 8);
  background-color: rgb(187, 209, 250);
  font-weight: 300;
  font-size:16px;
  /*position: absolute;
  top: 50%;
  left:50%;*/
  text-align: center;
 /* transform: translate(-50%, -50%);*/
}

.noticias:hover{
  height:50%;
  cursor: pointer;
}
#piepg{
  display: flex;
  margin-left: 25rem;
  padding-bottom:1rem ;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
#piepg > div{
  justify-content: center;

}
 .ci{
   flex-direction: row;
   width: 5%;
   height:45%;
}

/*MÓVIL*/

@media (max-width : 768px){


  :root{
      font-size:14px;
      background-color: rgba(251, 252, 253, 0.856);
      width: 100%;
  }

 
  header{
      height: 60px;
  }
  .logo{
      font-size:25px;
      padding:0 20px;
      line-height:60px;

  }
  .lista{
      flex-direction:column;
      align-items: center;
      margin: 0;
      background-color: #92c6ebfb;
      position: fixed;
      top:60px;
      width: 100%;
      padding: 20px 0;
      color: black;

      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
  }
  .lista-menu{
      line-height: 70px;
      color: black;
  }
  .lista-link:hover{
      background:none;
      color:#0c0c0c;

  }
  .bt-menu{
      display: block;

  }
  .lista-menu_visible{
      left: 0;
  }
  .bt-menu:focus:not(:focus-visible){
      outline:none;
  }
  .botones{
    display: none;
  }
  
  .meteo {
      border: beige;
      margin: 20px auto;
      padding: 0 auto;
  }
  .meteo iframe{
    width: 100%;
  }
   h3.link-mt{
      background-color: beige;
      background-position: center;
      padding: 15px;
      text-decoration: none;
      width: 200px;
  }
  
  article{
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
  }
  article section#tiempo{
      display: inline;
      margin: 0 auto;
  
  }
  article section#windy {
      display: inline;
      margin: 0 auto;
    }
    a#webcam {
      display: flex;
      justify-content: flex-start;
      
    }
    #webcam {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      position:static;
    }
  
    section#webcam img {
      height: 210px;
      width: 360px;
      display: flex;
      flex-direction: row;
    }

    /*SECCION MULTIMEDIA*/
    .contenedor-imagenes{
      width: 95%;
       transform-style: none;
       transition: none;
}
    .imagen:hover{
    transform: none;
    }
    
    .contenedor-imagenes .imagen{
      width: 48%;
  }
  /*CLUB*/
  #rnav{
    margin: 0 8rem;
  }
  #infoclub{
    margin: 0 auto;
   
  
  }
  /*CONTACTO*/
  #form1{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0 auto;
    margin-bottom: 2rem;
  }
  #contacto{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  
    
  }
  #mapadireccion{
    width: 100%;
  }
  .contenedor-noticias{
    width: 95%;
  }
  .contenedor-noticias .noticias{
    width: 48%;
    

}
.noticias iframe{
  width: 100%;
}
#piepg{
  display: none;
}

}






